[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
pytube = "*"
daphne = "*"
transformers = "*"
setuptools = "*"
djangorestframework = "*"
django-cors-headers = "*"
pydub = "*"
openai = "*"
langchain = "*"
langchain-community = "*"
langchainhub = "*"
langchain-openai = "*"
chromadb = "*"

[dev-packages]

[scripts]
server = "python manage.py runserver"
